@import "../variables";

.main-slider_item{
  position: relative;
}
.main-slider_img{
  position: relative;
  z-index: 1;
  width: 100%;
}
.main-slider_overlay{
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
}
.main-slider-text-block{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.main-slider-text-block_h1{
  color: #ffffff;
  font-family: $bold;
  font-size: 48px;
  padding-bottom: 25px;
}
.main-slider-text-block_descrip{
  text-align: center;
  font-size: 24px;
  max-width: 690px;
  margin: 0 auto 40px;
}
.main-slider-text-block_descrip{
  color: white;
}
.main-slider-text-block_link{
  width: 225px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    text-decoration: none;
  }
}
.main-slider{
  margin-bottom: 30px;
  .owl-dots{
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      width: 12px;
      height: 12px;
      cursor: pointer;
      border-radius: 100%;
      border: 3px solid white;
      background: transparent;
      margin: 0 4px;
      &.active{
        border: none;
        background: $yellow;
      }
    }
  }
}
// best items
.best-item-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best-item-top-rig-l_link{
  color: #000000;
  font-family:$bold;
  font-size: 16px;
  padding: 0 10px;
  transition: .3s;
  &:hover{
    text-decoration: none;
    color: $textYellow;
  }
}
.arr{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: #fec405;
  transition: .3s;
  cursor: pointer;
  i{
    font-size: 15px;
    color: black;
  }
  &:hover{
    background: black;
    i{
      color: $textYellow;
    }
  }
}
.best-item-top{
  position: relative;
}
.best-item-top-right-r{
  display: flex;
  margin-left: 25px;
}
.best-item-top-right-prev{
  margin-right: 5px;
}
.best-item-top-right{
  display: flex;
  align-items: center;
}
.line{
  margin-bottom: 20px;
  margin-top: 15px;
  position: relative;
  width: 100%;
  height: 3px;
  background: #e3e3e3;
  &_bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 3px;
    background-color: #fec405;
  }
}
.best-item-items{
  max-width: 350px;
}
.best-item-items_img{
  width: 100%;
  display: block;
  margin-bottom: 12px;
}
.best-item-items_name-text{
  transition: color .2s;
  color: #000000;
  font-family: $bold;
  font-size: 18px;
  padding-bottom: 12px;
}
.best-item-items{
  a{
    text-decoration: none;
    .best-item-items_name-text{
      text-decoration: underline;
    }
    color: black;
    &:hover{
      .best-item-items_name-text{
        color: $textYellow;
        text-decoration: none;
      }
    }
  }
}
.best-item-items_name{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  padding-bottom: 12px;
}
.best-item-items_price{
  color: #000000;
  text-decoration: none;
  font-family: $bold;
  font-size: 18px;
}
.best-item {
  .owl-nav{
    display: none;
  }
}
.mag-nev-item_img{
  display: block;
  max-width: 210px;
  margin-right: 10px;
  width: 100%;
}
.wrap-img-slid{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.mag-nev-item_img-min{
  display: block;
  max-width: 115px;
  width: 100%;
  margin-bottom: 6px;
  &:last-child{
    margin-bottom: 0;
  }
}
.block-mini-img{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.news-item{
  .best-item-items{
    min-width: 550px;
  }
}








//media
@media (max-width: 1200px){
  .best-item-items_name-text{
    font-size: 16px;
  }
}
@media (max-width: 992px){
  .best-item-top-rig-l{
    display: none;
  }
  .main-slider-text-block_h1{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
  }
  .main-slider-text-block_descrip{
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto 20px;
  }
  .main-slider-text-block_link{
    width: 220px;
    height: 50px;
  }
  .news-item{
    .best-item-items{
      min-width: 350px;
    }
  }
}
@media (max-width: 768px){
  .main-slider .owl-item img{
    height: 300px;
  }


}
@media (max-width: 480px){
  .mag-nev-item_img{
    max-width: 192px;
  }
  .mob-header{
    top: 44px;
  }
  .best-item-top-right-r{display: none;}
  .best-item-top{
    justify-content: center;
  }
  .line{
    margin-left:10px;
    margin-right: 10px;
    &_bg{
      width: 80px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .best-item-items{
    a{
      text-align: center;
      .best-item-items_name-text{
        max-width: 185px;
        margin: 0 auto;
      }
    }
  }
}