@import "fonts";

// font-famili

$bold:'bold',Helvetica,sans-serif;
$light:'light',Helvetica,sans-serif;

//colors

$black:#303231;
$textBlack:#303231;

$grey:#a2a2a2;
$textGrey:#a2a2a2;

$yellow:#efc32f;
$textYellow:#efc32f;

$e2:#e2e2e2;
$textE2:#e2e2e2;

$f4:#f4f1f2;
$textF4:#f4f1f2;

$f2:#f2f2f2;
$textF2:#f2f2f2;



